<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Institucion</th>
        </tr>
        {{#each model.escuelas as |escuela|}}
          <tr>
            <td>{{escuela.Institution}} ({{escuela.longitude}}, {{escuela.latitude}})</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>

  <hr>

  <footer>
    <p>© 2016 Julito & Hector, Inc.</p>
  </footer>
</div>
